.main {
  justify-content: space-between;
}

.presets {
  display: flex;
  flex-direction: column;
}

.controls,
.presets {
  column-gap: 4px;
  row-gap: 4px;
}

.toggles {
  display: grid;
  grid-template:
    'power . autofocus' auto
    / auto 1fr auto;
}

.footer {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status {
  margin: 0;

  &::before {
    content: 'Status: ';
  }
}

.power {
  grid-area: power;
}

.autofocus {
  grid-area: autofocus;
}

[data-preset-name]::before {
  content: attr(data-preset-name);
}
