.main {
  justify-content: space-between;
}

.presets {
  display: flex;
  flex-direction: column;
}

.controls,
.presets {
  column-gap: 4px;
  row-gap: 4px;
}

.controls {
  display: grid;
  grid-template:
    'power-on  . autofocus-on' auto
    'power-off . autofocus-off' auto
    / auto 1fr auto;
}

.footer {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status {
  margin: 0;

  &::before {
    content: 'Status: ';
  }
}

[data-function^='power-'] {
  padding: 10px;
}

[data-function='power-on'] {
  grid-area: power-on;
}

[data-function='power-off'] {
  grid-area: power-off;
}

[data-function='autofocus-on'] {
  grid-area: autofocus-on;
}

[data-function='autofocus-off'] {
  grid-area: autofocus-off;
}

[data-preset-name]::before {
  content: attr(data-preset-name);
}
