.main {
  justify-content: space-between;
}

.presets {
  display: flex;
  flex-direction: column;
}

.footer {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status::before {
  content: 'Status: ';
}

.status {
  margin: 0;
}

[data-preset-name]::before {
  content: attr(data-preset-name);
}
