.settings > form {
  align-self: center;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.directions {
  display: grid;
  grid-template:
    '.    .    .    .    up   up   up   up   .     .     .     .    ' 100px
    'left left left left .    .    .    .    right right right right' 100px
    '.    .    .    .    down down down down .     .     .     .    ' 100px
    '.    out  out  .    .    .    .    .    .     in    in    .    ' 50px
    / 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;

  & button {
    padding: 10px;
  }
}

.controls,
.directions,
.presets {
  gap: 4px;
}

[data-direction='left'] {
  grid-area: left;

  &::before {
    content: '\2190';
  }
}

[data-direction='up'] {
  grid-area: up;

  &::before {
    content: '\2191';
  }
}

[data-direction='right'] {
  grid-area: right;

  &::before {
    content: '\2192';
  }
}

[data-direction='down'] {
  grid-area: down;

  &::before {
    content: '\2193';
  }
}

[data-direction='out'] {
  grid-area: out;

  &::before {
    content: '-';
  }
}

[data-direction='in'] {
  grid-area: in;

  &::before {
    content: '+';
  }
}

.presets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

[data-preset-name]::before {
  content: 'Set ' attr(data-preset-name);
}
