.settings > form {
  align-self: center;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.directions {
  display: grid;
  grid-template-columns: repeat(12, 25px);
  grid-template-rows: repeat(3, 100px) 50px;
  grid-template-areas:
    '.    .    .    .    up   up   up   up   .     .     .     .'
    'left left left left .    .    .    .    right right right right'
    '.    .    .    .    down down down down .     .     .     .'
    '.    out  out  .    .    .    .    .    .     in    in    .';
}

[data-direction='left'] {
  grid-area: left;
}

[data-direction='up'] {
  grid-area: up;
}

[data-direction='right'] {
  grid-area: right;
}

[data-direction='down'] {
  grid-area: down;
}

[data-direction='out'] {
  grid-area: out;
}

[data-direction='in'] {
  grid-area: in;
}

.presets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
